# Working with Pandas DataFrame

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(4,4),
                  index=['A', 'B', 'C', 'D'],
                  columns=['Z', 'Y', 'X', 'Q'])

df

          Z         Y         X         Q
A  0.792454  0.687482  0.132788  0.234864
B  0.278040  0.590492  0.842506  0.950655
C  0.714493  0.014744  0.234159  0.162598
D  0.790803  0.388399  0.684025  0.408443

In [5]:
### Selecting a column
df['Z']

A    0.792454
B    0.278040
C    0.714493
D    0.790803
Name: Z, dtype: float64

In [6]:
### Selecting multiple columns
df[['Z', 'Y']]

          Z         Y
A  0.792454  0.687482
B  0.278040  0.590492
C  0.714493  0.014744
D  0.790803  0.388399

In [7]:
### Creating a column
df['W'] = np.random.rand(4,1)
df

          Z         Y         X         Q         W
A  0.792454  0.687482  0.132788  0.234864  0.807014
B  0.278040  0.590492  0.842506  0.950655  0.620056
C  0.714493  0.014744  0.234159  0.162598  0.451656
D  0.790803  0.388399  0.684025  0.408443  0.492934

In [9]:
### Dropping a column

## Method 1
df.drop('W', axis=1, inplace=True)

## Method 2
#df = df.drop('W', axis=1)

df

KeyError: "['W'] not found in axis"

Rows manipulation

In [10]:
### Selecting a row

df.loc['A']

df.iloc[0]

Z    0.792454
Y    0.687482
X    0.132788
Q    0.234864
Name: A, dtype: float64

In [11]:
### Selecting multiple rows

df.loc[['A', 'B']]

df.iloc[[0, 1]]

          Z         Y         X         Q
A  0.792454  0.687482  0.132788  0.234864
B  0.278040  0.590492  0.842506  0.950655

In [12]:
### Creating a row

df.loc['E'] = [1,2,3,4]

df

          Z         Y         X         Q
A  0.792454  0.687482  0.132788  0.234864
B  0.278040  0.590492  0.842506  0.950655
C  0.714493  0.014744  0.234159  0.162598
D  0.790803  0.388399  0.684025  0.408443
E  1.000000  2.000000  3.000000  4.000000

In [13]:
### Dropping rows

## Method 1
df.drop('E', axis=0, inplace=True)

## Method 2
#df = df.drop('E', axis=0)

df

          Z         Y         X         Q
A  0.792454  0.687482  0.132788  0.234864
B  0.278040  0.590492  0.842506  0.950655
C  0.714493  0.014744  0.234159  0.162598
D  0.790803  0.388399  0.684025  0.408443