# Lists

In [1]:
# Assign a list to an variable named my_list
my_list = [1.0,2.0,3.0]

In [2]:
type(my_list)

list

In [3]:
my_list*2

[1.0, 2.0, 3.0, 1.0, 2.0, 3.0]

In [3]:
my_list = ['A string', 23, 100.232]

In [4]:
len(my_list)

3

In [6]:
my_list[0] = 'change'
print(my_list)

['change', 23, 100.232]

In [7]:
my_list.append(15)

In [8]:
my_list

['change', 23, 100.232, 15]

### Indexing and Slicing

In [8]:
my_list = ['one','two','three',4,5]

In [10]:
# Grab element at index 0
my_list[0]

'one'

In [23]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [24]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [25]:
# Make the list double
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [26]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5]

## Nesting Lists

In [9]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [10]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [32]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

## Tasks

In [7]:
# Print 0
l = [[1,2,3], [4,5,[7,8]], [12,54,[15],[0,1,2]]]

l[2][3][0]

0

In [8]:
# Write a Python program to sum all the items in a list.
l = [1,2,3]

sum(l)

6

In [9]:
#Write a Python program to print a specified list after removing the 0th element.
## Sample list: [1, 2, 3, 4]
l = [1, 2, 3, 4]

l[1:]

[2, 3, 4]