In [2]:
# Quiz 1
welcome to udacity

print welcome to udacity

print(welcome to udacity)

print("welcome to udacity")

print "welcome to udacity"

NameError: name 'welcome' is not defined

In [5]:
# Quiz 2

### print("One")

print("Two")

# "Three"

Two

In [1]:
### Variables

number = 100
decimal = 1.5
name = "John"
flag = True


#Variables changing type
x = 1
x = 'Abdullah'
x = True

#Single value assigned to several variables
a = b = c = 1

print(a,b,c)
# Multiple values to multiple variables
a, b, c = 1, 1.5, 'Hello'
print(a,b,c)

1 1 1
1 1.5 Hello

In [6]:
n = 1
n = 1.5

print(n)
print(type(n))

1.5
<class 'float'>

In [14]:
### Strings

s = "Hello there"

print(s[0])
print(s[-11])

print(s[-1])
print(s[10])
print(s[len(s)-1])

H
H
e
e
e

In [3]:
s = 'Welcome to this course'

print(s[::5])

print(s[-1::-1])

print(s[-1::-4])

Wm  s
esruoc siht ot emocleW
eoiome

In [16]:
## List

my_list = [1, 2, 3.4, 'Hello']

my_list = list((1, 2, 3.4, 'Hello'))

In [17]:
## Set

my_set = {1, 2, 3.4, 'Hello'}

my_set = set((1, 2, 3.4, 'Hello'))

In [19]:
## Tuples

Coordinates = (20.201, 49.123)

Coordinates = tuple((20.201, 49.123))

In [23]:
## Dictionary

info = {"name":"Abdullah", "id":1, "score":20.5}

info = dict({"name":"Abdullah", "id":1, "score":20.5})